@import url("https://fonts.googleapis.com/css2?family=Germania+One&family=Open+Sans+Condensed:wght@700&display=swap");

:root {
    --oneFont: "Germania One", cursive;
    --twoFont: "Open Sans Condensed", sans-serif;

    --oneColor: #274c77;
    --twoColor: #e7ecef;
    --threeColor: #6096ba;
    --fourColor: #a3cef1;
    --fiveColor: #8b8c89;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    color: var(--oneColor);
}

body {
    height: 100vh;
    width: 100vw;
    background-color: var(--fourColor);
    overflow: hidden;
}

.game-title {
    padding: 2rem 0;
    text-align: center;

    font-family: var(--oneFont);
    font-size: 5rem;
    color: var(--oneColor);
}

/* -------------------------
    SPLASH SCREEN STYLES
------------------------- */

.splash-screen {
    width: 100vw;
    height: 100vh;
    background-color: var(--fourColor);
    color: var(--oneColor);
    font-family: var(--oneFont);
    font-size: 12rem;

    position: absolute;
    top: 0;
    left: 0;

    display: grid;
    place-items: center;
    grid-template-rows: 1fr 1fr;
}

.splash-title {
    place-self: end center;
    opacity: 0;
    animation: fade-in 3s 0.5s forwards;
    cursor: default;

    position: relative;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.play-btn {
    margin-top: 2rem;
    width: fit-content;
    height: fit-content;
    border: none;
    cursor: pointer;

    position: relative;
    left: -10%;
    transform: translateX(-50%);

    place-self: start start;

    background-color: inherit;
    transition: background-color 0.2s;

    animation: sail 5s 3s ease-out forwards;
}

.play-btn::after {
    content: "Click on the ship to play";
    width: 500px;
    font-size: 3rem;
    font-family: var(--oneFont);
    position: absolute;
    bottom: -6rem;
    left: -6rem;
    pointer-events: none;

    opacity: 0;
    animation: fade-in 0.2s 12s forwards;
}

.play-btn > img {
    width: 300px;
    animation: boat-rock 2.5s infinite;
}

.play-btn:disabled {
    cursor: default;
}

.play-btn:disabled:hover {
    background-color: inherit;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes sail {
    from {
        left: -10%;
    }

    to {
        left: 50%;
    }
}

@keyframes boat-rock {
    0% {
        transform: translateY(5%) rotateZ(0deg);
    }

    50% {
        transform: translateY(-5%) rotateZ(-2deg);
    }

    100% {
        transform: translateY(5%) rotateZ(0deg);
    }
}

.animate-remove {
    animation: push-out 1s cubic-bezier(0.7, -0.5, 0.5, 1) forwards;
}

@keyframes push-out {
    from {
        transform: scale(1);
        border-radius: 0px;
    }

    to {
        transform: scale(0);
        border-radius: 10px;
    }
}

/* ---------------------
    MAIN MENU STYLES
--------------------- */

.main-menu {
    /* border: 1px solid black; */
    margin-top: 2rem;

    display: grid;
    grid-template-rows: 0.25fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.menu-instructions {
    font-family: var(--twoFont);
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1.5rem;

    place-self: end center;
    grid-column: 1 / 3;
}

.gamemode-container {
    place-self: center;
    margin: 0rem 3.2rem;

    display: grid;
    place-items: center;
    gap: 1.5rem;
}

#local-game-container {
    place-self: start end;
}

#bot-game-container {
    place-self: start start;
}

.menu-btn {
    width: 18rem;
    height: 24rem;
    font-size: 5.5rem;
    line-height: 0.8;

    border: 1px solid black;
    background-color: var(--twoColor);
    border-radius: 10px;

    transition: transform 0.1s, box-shadow 0.1s;
}

.menu-btn:hover {
    transform: scale(1.05);
    box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}

.menu-btn:active {
    transform: scale(1.025);
    box-shadow: 0px 0px 5px 1.5px rgba(0, 0, 0, 0.25);
}

.mode-label {
    font-family: var(--twoFont);
    font-size: 1.5rem;
}

/* -----------------------
    SETUP PHASE STYLES
----------------------- */

.setup-phase {
    /* border: 1px solid black; */
    padding: 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.start-btn {
    width: fit-content;
}

.game-content {
    /* border: 1px solid black; */
    padding: 2rem;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 5rem;
}

.fleet {
    /* border: 1px solid black; */
    padding: 1rem;
    height: 340px;
    width: 360px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.fleet-info {
    position: relative;
    font-size: 1rem;
    font-weight: normal;
}

.fleet-info::after {
    content: "Drag a ship onto the board to place it.\A\AWhen a ship is on the board, click to rotate it";
    white-space: pre;
    border-radius: 10px;
    background-color: rgb(50, 50, 50);
    color: white;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    position: absolute;
    top: 0;
    left: 0;

    transform: translate(-47%, -45%) scale(0);
    transition: transform 0.25s;
}

.fleet-info::before {
    content: "";
    width: 20px;
    height: 20px;
    background-color: rgb(50, 50, 50);
    position: absolute;
    top: 0px;
    left: 8px;

    transform: translate(-47%, -50%) rotateZ(45deg) scale(0);
    transition: transform 0.25s;
}

.fleet-info:hover::after {
    transform: translate(-47%, -125%) scale(1);
}

.fleet-info:hover::before {
    transform: translate(-47%, -160%) rotateZ(45deg) scale(1);
}

.ship-group {
    min-height: 50px;

    display: flex;
    gap: 1rem;
}

.ship {
    height: fit-content;
    width: fit-content;
    border: 1px solid black;
    z-index: 999999999;
    background-color: rgba(0, 0, 0, 0.25);
    cursor: pointer;

    display: flex;
    gap: 3px;
}

.ship-part {
    width: 2.875rem;
    height: 2.875rem;
    top: 0;
    left: 0;
}

.gameboard {
    width: fit-content;
    height: fit-content;
    border-collapse: collapse;
    position: relative;

    border: 2px solid black;
}

td {
    width: fit-content;
    height: fit-content;
    border: 1px solid black;
}

.cell-content {
    width: 3rem;
    height: 3rem;
    position: relative;
    background-color: white;
}

td:hover > .target {
    background-color: rgba(0, 255, 0, 0.25);
    border: 1px solid black;
}

td:hover > .target.isHit {
    background-color: none;
    border: none;
}

.vertical-ship {
    flex-direction: column;
}

.ship-error {
    animation: red-fade-out 0.35s forwards;
}

@keyframes red-fade-out {
    0% {
        background-color: rgba(255, 0, 0, 0.25);
    }
    100% {
        background-color: rgba(0, 0, 0, 0.25);
    }
}

.game-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.setup-btns {
    display: flex;
    gap: 0.5rem;
}

.random-btn {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.reset-btn {
    padding: 0.2rem;
    font-size: 0.8rem;
}

.start-btn {
    padding: 0.5rem;
    font-size: 2.5rem;
}

/* ----------------------
    GAME PHASE STYLES
---------------------- */

.game-phase {
    padding: 2rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.game-description {
    font-size: 1.5rem;
    font-weight: bold;
}

.player-area {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.board-label {
    text-align: center;
}

.board-cover {
    width: 100%;
    height: 100%;
    filter: blur(3px);

    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;
    transition: opacity 0.5s;
}

.board-cover-label {
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    text-align: center;
    font-size: 2rem;

    opacity: 1;
    transition: opacity 0.5s;
}

.winner-container {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.25);

    display: grid;
    place-items: center;

    visibility: hidden;
    opacity: 0;
    transition: opacity 1s;
}

.winner-screen {
    min-width: 800px;
    width: 50%;
    min-height: 500px;
    height: 50%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.5);

    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.winner-text {
    font-size: 3.5rem;
    margin: 1.5rem;
    cursor: default;

    grid-column: 1 / 3;
    place-self: end center;
}

#play-again-btn {
    place-self: start start;
}

#main-menu-btn {
    place-self: start end;
}

.winner-screen-btn {
    margin: 1.2rem 1rem;
    font-size: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
}
